.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f9fa;

    position: relative;
    width: auto;
    top: 0;
    left: 0;

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 120px;

    .navbarLinks {
        display: flex;
        position: absolute;
        left: 48rem;
        gap: 60px;
    }

}

.brand {
    font-size: 20px;
    font-weight: bold;
    color: #32c58a;
    padding-left: 70px;
}



.link {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

/* Add padding to the body content so it's below the navbar */
.main-content {
    padding-top: 60px; /* Adjust to the height of your navbar */
}
