.offcanvas-start {
    width: 250px; /* Adjust width as needed */
    background-color: #F5F5EC; /* Matching your theme */
}

.offcanvas-body {
    padding: 1rem;
}

.offcanvas-title {
    font-family: Arial, sans-serif;
    font-weight: bold;
}

.list-group-item a {
    color: black;
    text-decoration: none;
    font-size: 16px;
}

.list-group-item a:hover {
    color: #987654;
}
